.env
*.env
.env.*
node_modules/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
dist/
build/
frontend/node_modules/.cache/default-development/13.pack
frontend/node_modules/.cache/default-development/3.pack
frontend/node_modules/.cache/default-development/11.pack
frontend/node_modules/.cache/default-development/25.pack
frontend/node_modules/.cache/default-development/6.pack
frontend/node_modules/.cache/default-development/31.pack
